<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mmakoWeatherApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E00201892A1A2D6E005B4059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E002019F2A1A2D6F005B4059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E00201A92A1A2D6F005B4059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
